html, body {
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	font-size: 18px;
	color: #799793;
	background: white;
	-webkit-font-smoothing: antialiased;
}

.btn {
	background: #1893ad;
	box-shadow: 0 0 14px rgba(12, 99, 117, 0.12);
	color: white;
	font-weight: 500;
	font-size: 24px;
	text-align: center;
	display: inline-block;
	padding: 18px 50px 13px;
	text-decoration: none;
	border-radius: 5px;
	font-weight: 600;
}

.btn:hover {
	background: #168aa2;
}
