.followr {
	background: rgba(40,40,40,0.94);
	position: fixed;
	z-index: 4000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: table;
	text-align: center;
	font-size: 22px;
	color: white;
	font-weight: 400;
}

.followr-wrap {
	display: table-cell;
	vertical-align: middle;
	margin: 0 auto;
}

.followr-wrap p.state-descript {
	color: rgb(136, 136, 136);
	text-transform: uppercase;
	font-size: 20px;
}

.followr-wrap p.state-descript img {
	margin-right: 10px;
}

table.buckets {
	margin: 0 auto;
	padding: 0;
}

table.buckets tr {
	padding: 16px 0;
	height: 56px;
	opacity: 0;sdkfj
			transform: translate3d(0, 14px, 0);
	-webkit-transform: translate3d(0, 14px, 0);
	-webkit-transition: all .32s cubic-bezier(0.785, 0.135, 0.150, 0.860); 
	   -moz-transition: all .32s cubic-bezier(0.785, 0.135, 0.150, 0.860); 
		 -o-transition: all .32s cubic-bezier(0.785, 0.135, 0.150, 0.860); 
			transition: all .32s cubic-bezier(0.785, 0.135, 0.150, 0.860); /* easeInOutCirc */

	-webkit-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860); 
	   -moz-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860); 
		 -o-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860); 
			transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860); /* easeInOutCirc */
}

table.buckets tr.show {
	opacity: 1;
			transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
}

table.buckets tr td.query {
	font-weight: 500;
	color: rgba(255,255,255,0.93);
	text-align: right;
	padding: 0 32px 0 0;
}

table.buckets span.status {
	background: rgba(20, 20, 20, 0.98);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, .98);
	display: inline-block;
	border-radius: 100px;
	height: 24px;
	margin: 7px 0 0 0;
	width: 200px;
	overflow: hidden;
	position: relative;
}

table.buckets span.status span {
	background: #3498db;
	border-radius: 100px 5px 5px 100px;
	top: -1px;
	bottom: -1px;
	left: -1px;
	padding: 0 2px;
	width: 0;
	position: absolute;
	-webkit-transition: all .24s cubic-bezier(0.785, 0.135, 0.150, 0.860); 
	   -moz-transition: all .24s cubic-bezier(0.785, 0.135, 0.150, 0.860); 
		 -o-transition: all .24s cubic-bezier(0.785, 0.135, 0.150, 0.860); 
			transition: all .24s cubic-bezier(0.785, 0.135, 0.150, 0.860); /* easeInOutCirc */

	-webkit-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860); 
	   -moz-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860); 
		 -o-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860); 
			transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860); /* easeInOutCirc */
}

table.buckets tr td.statusNum {
	text-align: left;
	padding: 2px 0 0 15px;
	color: rgba(255,255,255,0.72);
	font-size: 20px;
}

#followr-state {
	font-size: 28px;
	color: #666;
	letter-spacing: 3px;
	word-spacing: 7px;
	margin: 30px 0 0;
	display: block;
}

.followr-add-queries-notif {
  position: fixed;
  right: 32px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0,0,0,.12), 0 2px 22px rgba(0,0,0.08);
  font-size: 22px;
  font-weight: bold;
  color: #484e52;
  max-width: 280px;
  padding: 32px 32px 32px 102px;
  overflow: hidden;
  width: 100%;
  top: 40px;
  opacity: 0;
  transition: all 0.24s ease-out;
}

.followr-add-queries-notif.active {
  top: 32px;
  opacity: 1;
}

.followr-add-queries-notif img {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  right: 330px;
}

.followr-add-queries-notif:before {
  content: '';
  border-bottom: 14px solid white;
  border-right: 14px solid transparent;
  border-left: 14px solid transparent;
  position: fixed;
  top: 18px;
  right: 150px;
}
